[Unit]
Description=Checks for events (Sunrise, Noon, Sunset) and takes images before and after these events.

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/env bash /opt/raspberrypi_event_timelapse/start_raspberrypi_event_timelapse.sh
